## 3.1 1数据框

### 13.1.1 数据框定义

In [ ]:
d <- data.frame(
    name = c("李明", "张聪", "王建"),
    age = c(30, 35, 28),
    height = c(180, 162, 175),
    stringsAsFactors = FALSE
)
print(d)
names(d)
colnames(d)

### 13.1.2 数据框显示

In [71]:
library(knitr)
knitr::kable(d)

|name | age| height|
|:----|---:|------:|
|李明 |  30|    180|
|张聪 |  35|    162|
|王建 |  28|    175|

### 13.1.3 数据框内容访问

In [72]:
d[2, 3]

[1] 162

In [73]:
d[[2]]

[1] 30 35 28

In [74]:
d[, 2]

[1] 30 35 28

### 13.1.4 数据框的行名

In [75]:
rownames(d) <- d$name
d$name <- NULL

In [76]:
dm <- data.frame(
    "年级" = 1:6,
    "出游" = c(0, 2, 2, 2, 2, 1),
    "疫苗" = c(TRUE, FALSE, FALSE, FALSE, TRUE, FALSE)
)
dm

  年级 出游 疫苗
1 1    0     TRUE
2 2    2    FALSE
3 3    2    FALSE
4 4    2    FALSE
5 5    2     TRUE
6 6    1    FALSE

In [77]:
dm[["年级"]]
rownames(dm)
rownames(dm) <- dm[["年级"]]
dm

[1] 1 2 3 4 5 6

[1] "1" "2" "3" "4" "5" "6"

  年级 出游 疫苗
1 1    0     TRUE
2 2    2    FALSE
3 3    2    FALSE
4 4    2    FALSE
5 5    2     TRUE
6 6    1    FALSE

In [78]:
dm[["年级"]] <- NULL
dm

  出游 疫苗
1 0     TRUE
2 2    FALSE
3 2    FALSE
4 2    FALSE
5 2     TRUE
6 1    FALSE

In [79]:
ind <- c(2, 1, 1, 3)
dm[as.character(ind), ]
rownames(dm) <- NULL
dm

    出游 疫苗
2   2    FALSE
1   0     TRUE
1.1 0     TRUE
3   2    FALSE

  出游 疫苗
1 0     TRUE
2 2    FALSE
3 2    FALSE
4 2    FALSE
5 2     TRUE
6 1    FALSE

### 13.1.5 数据框与矩阵的区别

In [80]:
d2 <- as.matrix(d[, c("age", "height")])
d2
d3 <- crossprod(d2)
d3

     age height
李明 30  180
张聪 35  162
王建 28  175

       age   height
age     2909 15970
height 15970 89269

## 13.2 tibble类型

### 13.2.1 生成方法

In [81]:
library(tibble)
library(readr)
d.class <- read_csv("C:/Users/hsuhau/Desktop/懒猫存钱-2022-09-29.csv")

Rows: 7146 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (6): 分类, 类型, 金额, 账户, 账本, 备注
dttm (1): 日期

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [82]:
d.class

     日期                分类     类型 金额    账户 账本
1    2022-07-09 21:29:00 零食     支出 ¥5.98   NA   默认账本
2    2022-07-09 21:15:00 餐饮     支出 ¥92.5   NA   默认账本
3    2022-07-09 11:03:00 通讯     支出 ¥19     NA   默认账本
4    2022-07-08 23:47:00 餐饮     支出 ¥71     NA   默认账本
5    2022-07-08 18:11:00 水果     支出 ¥14.12  NA   默认账本
6    2022-07-08 17:34:00 餐饮美食 支出 ¥3.00   NA   默认账本
7    2022-07-08 12:06:00 餐饮美食 支出 ¥3.00   NA   默认账本
8    2022-07-07 18:38:00 水果     支出 ¥14.35  NA   默认账本
9    2022-07-07 17:33:00 餐饮美食 支出 ¥3.00   NA   默认账本
10   2022-07-07 12:10:00 餐饮美食 支出 ¥3.00   NA   默认账本
11   2022-07-06 19:09:00 水果     支出 ¥14.11  NA   默认账本
12   2022-07-06 18:30:00 餐饮美食 支出 ¥3.00   NA   默认账本
13   2022-07-06 12:10:00 餐饮美食 支出 ¥3.00   NA   默认账本
14   2022-07-06 00:17:00 酒店旅游 支出 ¥125.77 NA   默认账本
15   2022-07-05 20:48:00 商户消费 支出 ¥0.20   NA   默认账本
16   2022-07-05 20:48:00 商户消费 支出 ¥18.64  NA   默认账本
17   2022-07-05 17:38:00 餐饮美食 支出 ¥3.00   NA   默认账本
18   2022-07-05 12:07:00 餐饮美食 支出 ¥3.00   NA   默认账本
19   2022-07-04 17:34:00 餐饮美食 支出 ¥3.00   NA   默认账本
20   2022-07-04 16:46:00 商户消费 收入 ¥0.04   NA   默认账本
21   2022-07-03 19:54:00 商户消费 支出 ¥48.90  NA   默认账本
22   2022-07-02 21:02:00 商户消费 支出 ¥4.34   NA   默认账本
23   2022-07-02 20:58:00 餐饮美食 支出 ¥66.00  NA   默认账本
24   2022-07-02 01:27:00 商户消费 支出 ¥71.00  NA   默认账本
25   2022-07-01 19:47:00 商户消费 支出 ¥3.00   NA   默认账本
26   2022-07-01 17:41:00 餐饮美食 支出 ¥3.00   NA   默认账本
27   2022-07-01 12:09:00 餐饮美食 支出 ¥3.00   NA   默认账本
28   2022-06-30 20:24:00 餐饮美食 支出 ¥2.80   NA   默认账本
29   2022-06-30 17:44:00 餐饮美食 支出 ¥3.00   NA   默认账本
30   2022-06-30 12:21:00 餐饮美食 支出 ¥3.00   NA   默认账本
⋮    ⋮                   ⋮        ⋮    ⋮       ⋮    ⋮
7117 2015-04-11 21:39:00 零食     支出 ¥2.25   NA   默认账本
7118 2015-04-11 16:48:00 餐饮     支出 ¥9      NA   默认账本
7119 2015-04-11 15:22:00 零食     支出 ¥2.2    NA   默认账本
7120 2015-04-11 11:16:00 餐饮     支出 ¥9      NA   默认账本
7121 2015-04-10 22:00:00 零食     支出 ¥2.2    NA   默认账本
7122 2015-04-10 16:08:00 餐饮     支出 ¥10     NA   默认账本
7123 2015-04-10 13:34:00 零食     支出 ¥2.5    NA   默认账本
7124 2015-04-10 12:00:00 餐饮     支出 ¥7      NA   默认账本
7125 2015-04-09 17:08:00 餐饮     支出 ¥9      NA   默认账本
7126 2015-04-09 11:04:00 餐饮     支出 ¥9      NA   默认账本
7127 2015-04-08 19:21:00 零食     支出 ¥18.5   NA   默认账本
7128 2015-04-08 16:44:00 餐饮     支出 ¥8      NA   默认账本
7129 2015-04-07 17:04:00 餐饮     支出 ¥7      NA   默认账本
7130 2015-04-07 11:13:00 餐饮     支出 ¥9      NA   默认账本
7131 2015-04-04 20:09:00 餐饮     支出 ¥5      NA   默认账本
7132 2015-04-04 20:04:00 餐饮     支出 ¥8      NA   默认账本
7133 2015-04-04 12:19:00 餐饮     支出 ¥10     NA   默认账本
7134 2015-04-03 16:11:00 餐饮     支出 ¥9      NA   默认账本
7135 2015-04-02 17:29:00 餐饮     支出 ¥7      NA   默认账本
7136 2015-04-01 17:43:00 餐饮     支出 ¥8      NA   默认账本
7137 2015-04-01 11:28:00 餐饮     支出 ¥6      NA   默认账本
7138 2015-03-31 16:50:00 餐饮     支出 ¥9      NA   默认账本
7139 2015-03-31 11:29:00 餐饮     支出 ¥8      NA   默认账本
7140 2015-03-30 16:55:00 餐饮     支出 ¥8      NA   默认账本
7141 2015-03-30 11:22:00 餐饮     支出 ¥11     NA   默认账本
7142 2015-03-29 17:27:00 餐饮     支出 ¥8      NA   默认账本
7143 2015-03-29 12:12:00 餐饮     支出 ¥9      NA   默认账本
7144 2015-03-28 16:59:00 餐饮     支出 ¥8      NA   默认账本
7145 2015-03-28 12:31:00 餐饮     支出 ¥8      NA   默认账本
7146 2015-03-27 16:54:00 餐饮     支出 ¥10     NA   默认账本
     备注
1    万田超市(华碧商场)（确认码3005）
2    支付码:341554 饭点稻了(7118360916785219094)
3    预付费自动续费31天(为微信账号购买)
4    美团订单-22070811100400000021616515728357
5    万田超市(华碧商场)（确认码9879）
6    食堂就餐
7    食堂就餐
8    万田超市(华碧商场)（确认码6972）
9    食堂就餐
10   食堂就餐
11   万田超市(华碧商场)（确认码5565）
12   食堂就餐
13   食堂就餐
14   账单支付
15   万田超市(华碧商场)（确认码7560）
16   万田超市(华碧商场)（确认码6663）
17   食堂就餐
18   食堂就餐
19   食堂就餐
20   /
21   美团订单-22070311100400000020939634396357
22   万田超市(华碧商场)（确认码4130）
23   支付码:335808饭点稻了(7115758742481675798)
24   美团订单-22070211100400000020714333945357
25   可口可乐500ml 1件
26   食堂就餐
27   食堂就餐
28   可口可乐330ml
29   食堂就餐
30   食堂就餐
⋮    ⋮
7117 可口可乐雪碧清爽柠檬味330ml
7118 美团订单-19587557181428742107
7119 可口可乐芬达橙味汽水330ml
7120 美团订单-19554145551428722191
7121 可口可乐芬达橙味汽水330ml
7122 美团订单-19504674341428653337
7123 可口可乐芬达橙味汽水330ml
7124 美团订单-19489129501428638445
7125 美团订单-19449223541428570537
7126 美团订单-19424842541428548684
7127 士力架花生巧克力味
7128 美团订单-19392071561428482697
7129 美团订单-19340366251428397447
7130 美团订单-19319028121428376391
7131 美团订单-19159260391428149339
7132 美团订单-19158937041428149089
7133 美团订单-19113506841428121195
7134 美团订单-19058893331428048703
7135 美团订单-19002349341427966970
7136 美团订单-18955014211427881406
7137 美团订单-18932590121427858884
7138 美团订单-18902937361427791855
7139 美团订单-18886362351427772544
7140 美团订单-18856992191427705741
7141 美团订单-18839931941427685745
7142 美团订单-18811686501427621260
7143 美团订单-18788021171427602375
7144 美团订单-18739997571427533173
7145 美团订单-18720649111427517074
7146 美团订单-18671645501427446443

In [83]:
class(d.class)

[1] "spec_tbl_df" "tbl_df"      "tbl"         "data.frame"

In [86]:
d.bp <- tibble("序号" = c(1:6), "收缩压" = c(145, 110, "未测", 150, "拒绝", 115))

In [87]:
knitr::kable(d.bp)

| 序号|收缩压 |
|----:|:------|
|    1|145    |
|    2|110    |
|    3|未测   |
|    4|150    |
|    5|拒绝   |
|    6|115    |

### 13.2.2 列子集问题

In [88]:
d.bp[, "收缩压"]

  收缩压
1 145
2 110
3 未测
4 150
5 拒绝
6 115

In [89]:
d.bp[["收缩压"]]

[1] "145"  "110"  "未测" "150"  "拒绝" "115"

### 13.2.3 行名问题

tibble不支持行名(rownames)， 有行名的数据框用as_tibble()转换为tibble时， 可以用rownames="变量名"选项将行名转换成tibble的一列， 该列的变量名由选项值确定。 原来用行名完成的功能， 可以改用dplyr包的left_join()等函数， 这些函数进行数据框的横向连接。 详见26。

实际上，旧式数据框支持行名，有如下的缺点：

行名本身往往也是有效的数据，如身份证号， 将有效数据以数据框中的列和行名两种不同形式保存， 增加了复杂度；
为了使用某些变量辨识不同的行（观测）， 行名也具有局限性： 行名必须是相互不同的， 必须是字符型， 而用来区分各个观测的变量有可能有多个， 也可能不是字符型。
行名要求互不相同是有局限性的， 如果用来辨识各行的变量有重复值， 就可以构成对各行的一种自然的分组。

### 13.2.4 列表类型的列

In [90]:
tibble(x = 1:3, y = list(1:7))

  x y
1 1 1, 2, 3, 4, 5, 6, 7
2 2 1, 2, 3, 4, 5, 6, 7
3 3 1, 2, 3, 4, 5, 6, 7

## 13.3 练习

假设class.csv已经读入为R数据框d.class, 其中的sex列已经自动转换为因子。

1. 显示d.class中年龄至少为15的行子集；

2. 显示女生且年龄至少为15的学生姓名和年龄；

3. 取出数据框中的age变量赋给变量x。